<!DOCTYPE html>
<html>
<head>
	<title>Directives</title>
	<style type="text/css">
	body{
		width: 800px;
	}
	.box{
		display: inline-block;
		width: 200px;
		height: 200px;
		font-size: 1.5em;
		border: 1px solid black;
		vertical-align: top;
	}
	</style>
    <script src="lib/jquery-1.9.1.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script data-require="angular.js@1.3.0-beta.19" data-semver="1.3.0-beta.19" src="https://code.angularjs.org/1.3.0-beta.19/angular.js"></script>
	<script type="text/javascript">
	
	// return{
	// 	link: function( 
	// 		scope // local scope object passed in
	// 		element // element declared on: 'this'
	// 		attrs // an object containing the html attributes defined on the element, including the directive invocation itself
	// }

	// $emit() Up the Scope Tree
	// $broadcast() Down the Scope Tree
	// $rootScope.$broadcast Broadcast to all of Scope

	// $rootScope.$broadcast("highScore")
	// $scope.$on("highScore", handlerFunction)


	// What is a Directive?
	// Logic & Behavior For UI “...a way to teach HTML new tricks.” Anything in your app that touches DOM Examples: event-handling, behavior management, template pre-processing & insertion, data-binding, ‘Collection Views’, UI Widgets, conditional display, i18n & localization, etc.


	// Attribute ( A ) directives
	// <span my-dir="exp"></span>

	// CSS ( C ) class directives
	// <span class="my-dir: exp;"></span>

	// Element ( E ) direvtives
	// <my-dir></my-dir>

	// Comment ( M ) directives
	// <!-- directive: my-dir exp -->

	// E = element
	// A = attribute
	// C = class
	// M = comment

	angular
    .module('animateApp', [])
    .directive('sampleLink', function() {
        return {
            restrict: "E",
            template: "<div>...loaded template (div) through <strong> sample-link </strong> directive!...</div>",
            // templateUrl: path/to/file/template.html
            link: function(scope, element, attrs){
            	console.log("<sample-link> link executing")

           		element.addClass("sampleLinkLinked")

               	element.bind("mouseenter", function(){

               		// Do things after mouseenter...
            		console.log("<sample-link> mouseenter triggered.")

               		// Add a class...
               		element.addClass("mouseenterEntered")
     				// addClass()
					// after()
					// append()
					// detach()
					// empty()
					// eq()
					// hasClass()
					// html()
					// prepend()
					// prop()
					// text()
					// toggleClass()
					// val()

               });

            }
        };
    })
    .directive('sampleCompile', function() {
        return {
            restrict: "E",
            template: "<div>...loaded template (div) through <strong> sample-compile </strong> directive!...</div>",
            // templateUrl: "path/to/file/template.html",   
            compile: function(element, attrs){
				// return function Link(scope, element, attrs){
				//	...code here...
				// }
				// or
				return {
					pre: function(scope, element, attrs){
						// Not safe - for dom transformations 
						// Executed BEFORE child elements are linked
            			console.log("<sample-compile> PRE (link) executing.")

						element.bind("mouseenter", function(){
							console.log("<sample-compile> PRE - mouseenter triggered");
						})
					},
					post: function(scope, element, attrs){ // Same as link *
						// Safe - for dom transformation
						// Executed AFTER child elements are linked
            			console.log("<sample-compile> POST (link) executing.")

						element.bind("mouseenter", function(){
							console.log("<sample-compile> POST - mouseenter triggered");
						})
					}
				}
            }
        };
    })
	.directive('sampleScope', function() {
        return {
            restrict: "E",
            template: "<div>...loaded template (div) through <strong>sample scope</strong> directive!...</div>"+
            		  "<button ng-click='addCustomer()'>Add</button>"+
            		  "<li ng-repeat='customer in customers'>{{customer.name}}</li>",
            scope: { // name: "Isolated Scope ", 
            	name: "@", // or name: "@name" || This is the same as scope.name = attrs.name;
            	customer: "=", // binds the local scope property to a parent scope property having same name as the value of the 
            	click: "&" // binds the local scope property to the output of an expression defined in the DOM attribute. It's like a function-wrapper.
            }, 
            controller: function($scope){
            	function initialize(){
            		// $scope.customers = angular.copy($scope.datasource)
            		$scope.customers = [
            			{ name:"A"},
            			{ name:"B"},
            			{ name:"C"}
            		]
            	}
            	initialize();

            	$scope.addCustomer = function(){
            		// $scope.add(); // call external function from a controller
            		$scope.customers.push({ name:"Added" })
            	}

            },
            link: function(scope, element, attrs){ 
            	console.log("<sample-scope> link executing.")
            	element.addClass("sampleScopeLinked")
            }
        };
    })

	.directive('draggable', function(){
		return {
			link: function(scope, element, attrs){
				element.draggable();
				element.bind("click", function(){
					console.log("draggable item was clicked!")
				})
			}
		}
	})

	.directive('colors', function(){
		return {
            restrict: "AE",
			link: function(scope, element, attrs){
				element.css("background-color", "yellow")

				element.bind('mouseenter', function(){
					element.css("background-color", "red")
				})
				element.bind('mouseleave', function(){
					element.css("background-color", "green")
				})
			}
		}
	})

	.controller('Controller', ['$scope', function($scope) {
	  	this.name = 'King Leonidas';
	}])
	.directive('myDialog', function() {
		return {
			restrict: 'E',
			transclude: true, // Controllers are available to the template/templateUrl
			template: '<div class="alert" ng-transclude></div>'
			// templateUrl: 'my-dialog.html'
		};
	});


	

	</script>
</head>
<body>
 	<div ng-app="animateApp" grid>

 		<sample-link draggable colors class="box"></sample-link>
 		<sample-compile class="box"></sample-compile>
 		<sample-scope class="box" name="Andriana Lima" customer="person" data="abc"></sample-scope>
 		<colors draggable class="box"></colors>
 		<!-- <sample-scope status="{{status}}"></sample-scope> -->
 		<div ng-controller="Controller as ctrl" class="box">
		  <my-dialog>Check out the contents, {{ctrl.name}}!</my-dialog>
		</div>
    </div>

</body>
</html>